@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, tab: String = "", scripts: Html = Html(""))(content: Html)

@import services.AppInfo

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel='stylesheet' media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' media="screen" href='@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/diff.css")'>

        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/vue/vue.js")" type="text/javascript"></script>
        @scripts

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body tab="@tab">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand @("active".when(tab == "index"))" href="@routes.HomeController.index">Law Log</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>

            </div>
        </div>

        <div id="main-view" class="container">
        @* And here's where we render the `Html` object containing
         * the page content. *@
            @content
        </div>

        <div class="footer">
            <div class="container">
                <p>@tags.repository.home("""<i class="fa fa-github fa-2x"></i> View on Github""").
                Code licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a></p>
                <p>Kaut kas nestrādā? Lūdzu dod ziņu iekš <a href="@AppInfo.ReportIssues">projekta Github issues</a>.</p>
            </div>
        </div>

    </body>
</html>
